[submodule "zsh/modules/zsh-git-prompt"]
	path = zsh/modules/zsh-git-prompt
	url = https://github.com/olivierverdier/zsh-git-prompt.git
[submodule "emacs/elisp/submodules/review-el"]
	path = emacs/elisp/submodules/review-el
	url = git@github.com:kmuto/review-el.git
[submodule "emacs/elisp/submodules/anything-ack"]
	path = emacs/elisp/submodules/anything-ack
	url = git@github.com:jpablobr/anything-ack.git
[submodule "emacs/elisp/submodules/ipa"]
	path = emacs/elisp/submodules/ipa
	url = git@github.com:idomagal/ipa.el.git
[submodule "zsh/modules/zsh-syntax-highlighting"]
	path = zsh/modules/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "emacs/elisp/submodules/ri-emacs"]
	path = emacs/elisp/submodules/ri-emacs
	url = git@github.com:pedz/ri-emacs.git
[submodule "zsh/modules/zsh-completions"]
	path = zsh/modules/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
[submodule "zsh/modules/docker-zsh-completion"]
	path = zsh/modules/docker-zsh-completion
	url = git@github.com:felixr/docker-zsh-completion.git
[submodule "zsh/modules/lxc_zsh_completion"]
	path = zsh/modules/lxc_zsh_completion
	url = https://gist.github.com/9870189.git
