[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/modules/zsh-git-prompt"]
	path = zsh/modules/zsh-git-prompt
	url = https://github.com/olivierverdier/zsh-git-prompt.git
[submodule "emacs/elisp/submodules/review-el"]
	path = emacs/elisp/submodules/review-el
	url = git@github.com:kmuto/review-el.git
